In [1]:
import pandas as pd 
population = pd.read_json("worldpopulation.json")
population

     Rank     country  population  World
0       1       China  1388232693  0.185
1       2       India  1342512706  0.179
2       3        U.S.   326474013  0.043
3       4   Indonesia   263510146  0.035
4       5      Brazil   211243220  0.028
..    ...         ...         ...    ...
190   191  San Marino       32104  0.000
191   192       Palau       21726  0.000
192   193       Nauru       10301  0.000
193   194      Tuvalu        9975  0.000
194   195    Holy See         801  0.000

[195 rows x 4 columns]

In [3]:
population["country"][population.population == population.population.max()][0]

'China'